/*User's names*/

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog a{
    color: #000;
    text-decoration: none;
}

.dialog a:hover {
    color: brown;
    text-decoration: none;
}


/*Massages*/

.massages {
    padding: 10px;
}

.massages .massage {
    
}